body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('img/9_intro_outro_screens/start/startscreen03.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    font-family: "Archivo", sans-serif;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 135px;
    font-weight: 900;
    text-align: center;
    color: #A14901;
    text-shadow: 4px 4px 8px #743600;
}

canvas {
    background-color: black;
    display: block;
}

#fullscreenContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none !important;
}

.startscreen {
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.startscreen button {
    background-color: rgba(0, 0, 0, 0.3);
    border: solid 1px #953816;
    border-radius: 10px;
    box-shadow: 2px 0px 4px #743600;
}

.play-button {
    width: 55px;
    height: auto;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.play-button:hover {
    transform: scale(1.1);
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    color: rgb(47, 21, 0);
}

.navigation img {
    height: 30px;
    width: auto;
}

.navigate {
    display: flex;
    align-items: center;
    gap: 2px;
}

.d {
    padding: 1px 3px 1px 3px;
    margin-right: 2px;
    border: 3px solid black;
    border-radius: 4px;
}

.info {
    width: 80%;
    height: 80vh;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    border: solid 1px #953816;
    border-radius: 10px;
    box-shadow: 2px 0px 4px #743600;
    display: flex;
    flex-direction: column;
    font-weight: 300;
}

.info img {
    width: 30px;
    height: auto;
    margin-top: -20px;
    margin-right: -20px;
}

.info img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.info a {
    color: black;
    font-weight: 400;
    text-decoration: none;
}

.info a:hover {
    color: black;
    text-decoration: underline;
}

.close-info {
    display: flex;
    justify-content: flex-end;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 14px;
}

footer span:hover {
    color: #FFA001;
    cursor: pointer;
}


@media(max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media(max-height: 480px) {
    canvas {
        height: 100vh;
    }
}